*
{
    box-sizing: border-box;
}
:root
{
    --orange: #DFB244;
    --darkpink: #DB13B2;
    --lightpink: rgb(235, 103, 202);
    --grey: #e0e0e0;
}
body
{
    margin: 0;
    background-color: rgb(235, 103, 202);
    height: 150vh;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.box
{
    height: 100%;
    width: 98vw;
    background-color: var(--lightpink);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container
{
    height: 130vh;
    width: 90vw;
    text-align: center;
    display: flex;
    position: relative;
    box-shadow: 0px 23px 34px -4px rgba(0,0,0,0.56);
    margin: 100px 0;
}
.grey
{
    width: 47%;
    height: 80%;
    background-color: #e0e0e0;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
}
#text1
{
    color: var(--orange);
    position: absolute;
    text-align: start;
    display: block;
    font-size: 2em;
    margin-top: 80px;
    font-weight: bold;
}
#text1 span
{
    color: var(--darkpink);
}
#text2
{
    position: absolute;
    text-align: start;
    display: block;
    font-size: 0.7em;
    margin-top: 200px;
    font-weight: bold;
    color: #111;
}
#text2 span
{
    color: var(--lightpink);
}
#searchInput
{
    position: absolute;
    margin-top: 120px;
    right: 8vw;
}
#searchInput input
{
    width: 450px;
    padding: 18px 30px 18px 40px;
    border-radius: 25px;
    border: 1px solid #eeecec;
    outline: none;
    border-right: none;
    color: #111;
}
::placeholder
{
    color: #c5bebe;
    font-size: 0.9em;
}
#searchInput button
{
    padding: 15px 50px;
    background-color: var(--darkpink);
    border-radius: 30px;
    border: none;
    outline: none;
    position: absolute;
    right: 0px;
    cursor: pointer;
}
#searchInput button img
{
    height: 20px;
}
#text3
{
    color: var(--lightpink);
    position: absolute;
    right: 8vw;
    margin-top: 200px;
    line-height: 1.4em;
    font-weight: 600;
    font-size: 0.8em;
}
.gap
{
    width: 10%;
    height: 100%;
    background-color: white;
}
.menu-bar
{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    background-color: white;
    position: absolute;
    padding: 0 8vw;
}
#DD
{
    width: 75px;
    height: 60px;
    cursor: pointer;
}
.links
{
    width: 40vw;
    display: flex;
    justify-content: space-around;
}
.menu-bar .links a
{
    color: var(--orange);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}
#donuts
{
    text-decoration: underline;
    color: var(--darkpink);
}
#shopping-cart
{
    margin-right: 10px;
    height: 32px;
    cursor: pointer;
}
#menupng
{
    margin: 3px 0 0 10px;
    height: 28px;
    width: 35px;
    cursor: pointer;
}
.content
{
    width: 80%;
    height: 100%;
    background-color: white;
    padding: 100px 0;
}
.cardBox
{
    width: 80%;
    height: 40%;
    position: absolute;
    bottom: 10%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}
.cardBox .card
{
    width: 22%;
    height: 90%;
    background-color: var(--grey);
    border-radius: 20px;
    box-shadow: 0px 23px 34px -4px rgba(0,0,0,0.56);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
}
.cardBox .card .productImg
{
    width: 30%;
    height: 30%;
}
.card .bewertungImg
{
    width: 30%;
    height: 30%;
}
.cardBox .card .nutrition
{
    width: 100px;
    font-size: 0.7em;
}
.card .nutrition>div
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 1.3em;
    color: rgb(109, 109, 109);
    font-weight: bold;
}
.card .productName
{
    margin-top: 20px;
    color: var(--orange);
    font-size: 1.2em;
    font-weight: bold;
}